/* Home */

.navMenu,ul,li,.shopNavMenu{
    display: inline;
    float:right; 
}
.navMenu,ul,li{
    margin:-5px 5px 0 0;
}
.navText{
    color:black;
    font-size:20px;
    padding:10px;
    text-decoration: none;
}
.navText:hover{
    color:darkgoldenrod;
}
.main{
    background-image: url(pozadina.png);
    background-position: center;
    background-size:cover;
    min-height: 100vh;
    width:100%;  
}
.head1,.head2,.paragraph,.fb-share-button{
    margin-left:100px;
}
.head1{
    font-size:60px;
}
.line{
    margin-left: 100px;
    margin-top:-30px;
    width: 350px;
}
.head2{
    font-size:35px;
}
.paragraph{
    font-size:25px;
}

/* Contact */

.map{
    margin-left:100px;
}

/* Shop */

.shopNavMenu{
    margin:25px 5px 0 0;
}
.shoe{
    border:2px solid ivory;
    box-shadow: 5px 5px grey;
    display:inline;
    height: 300px;
    margin:100px 0 0 100px;
    width: 300px;
}
.shoe:hover{
    height: 310px;
    width: 310px;
}

/* Pay */

.payFrom{
    border:1px solid black;
    box-shadow: 5px 5px black;
    height: fit-content;
    margin-left:200px;
    padding:15px;
    width: fit-content;
   
}
.collapsible{
    background-color: white;
    border:1px solid white;
    color:darkslateblue;
    cursor: pointer;
    font-size:20px;
}
.content{
    display: none;
    overflow: hidden;
}
.payHead{
    font-size:50px;
}
.payText{
    font-size:25px;
}
.payButton{
    background-color: white;
    border-radius: 5px;
    font-size:20px;
}
.payButton:hover{
    color:darkgoldenrod;
}

@media only screen and (max-width: 600px) {
  .paragraph {
    color: yellow;
  }

